<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Diabetes Predictor</title>
</head>
<body>
  <h2>Diabetes Predictor</h2>
  <form action="/predict" method="post">
    Pregnancies: <input name="Pregnancies" value="0"><br>
    Glucose: <input name="Glucose" value="120"><br>
    BloodPressure: <input name="BloodPressure" value="70"><br>
    SkinThickness: <input name="SkinThickness" value="20"><br>
    Insulin: <input name="Insulin" value="79"><br>
    BMI: <input name="BMI" value="32"><br>
    DiabetesPedigreeFunction: <input name="DiabetesPedigreeFunction" value="0.5"><br>
    Age: <input name="Age" value="30"><br>
    <button type="submit">Predict</button>
  </form>
</body>
</html>
